*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(90deg, #b587e6, #d169d1);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  height: 300px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
}

.clock .number1 {
  rotate: 30deg;
}
.clock .number2 {
  rotate: 60deg;
}
.clock .number3 {
  rotate: 90deg;
}
.clock .number4 {
  rotate: 120deg;
}
.clock .number5 {
  rotate: 150deg;
}
.clock .number6 {
  rotate: 180deg;
}
.clock .number7 {
  rotate: 210deg;
}
.clock .number8 {
  rotate: 240deg;
}
.clock .number9 {
  rotate: 270deg;
}
.clock .number10 {
  rotate: 300deg;
}
.clock .number11 {
  rotate: 330deg;
}
.clock .number12 {
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: black;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
}
.clock .hand.minite {
  width: 7px;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgb(0, 0, 0);
}
.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
}
